<div class="animate__animated animate__fadeIn animate__faster">
  <h3>
    Buscar por Región <small>{{ regionActiva | titlecase }}</small>
  </h3>
  <hr />

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regiones"
        [class]="getClassCss(region)"
        (click)="activaRegion(region)"
      >
        <strong>{{ region | titlecase }}</strong>
      </button>
    </div>
  </div>
  <hr />
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
